{% extends "layout.html" %}
  {% block content %}
    <div class="jumbotron" style="margin-right: 25px">
      <h1>Add a New Show</h1>
    </div>
    <form action="/shows/create" method="post" style="margin-right: 25px">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Show Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <label class="my-1 mr-2" for="network">Add Network</label>
          <select class="custom-select my-1 mr-sm-2" id="network" name="network">
            <option selected>Choose...</option>
            {% for network in networks %}
              <option value="{{ network.id }}">
                {{ network.name }}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="desc">Show Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="5"></textarea>
      </div>
      <input class="form-control" id="date" name="debut" type="date">
      <button type="submit" class="btn btn-primary mb-2">submit</button>
    </form>
    <a href="/" class="card-link">Home</a>
  {% endblock content %}
